<!-- Themes  register-flat-->
<ion-content *ngIf="data != null" [ngStyle]="{'background-image': 'url(' + data.backgroundImages + ')'}">
  <ion-grid no-padding>
    <!-- logo -->
    <ion-row header align-items-start align-items-stretch>
      <ion-col col-10 offset-1 col-md-6 offset-md-3>
        <img logo src="{{data.logo}}" />
      </ion-col>


    <!-- Section form>-->
    <ion-col col-10 offset-1 col-md-6 offset-md-3>
    <form padding>
      <ion-row>
        <ion-col col-12>
          <h1><strong>{{data.title}}</strong> {{data.subtitle}}</h1>
        </ion-col>
      </ion-row>
      <!-- Input-field -->
      <ion-row>
        <ion-col col-12>
          <div input-field>
            <!-- Input-field-email -->
            <ion-item no-padding>
              <ion-input type="email" [placeholder]="data.txtEmail" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></ion-input>
              <ion-label no-margin *ngIf="!isEmailValid">{{data.errorEmail}}</ion-label>
            </ion-item>
          </div>
          <!-- Reset password button -->
          <ion-col col-12 no-padding>
            <button no-margin ion-button full text-uppercase (click)="onEvent('onResetPassword')">{{data.btnResetPassword}}</button>
          </ion-col>
          <!-- Description -->
          <div description text-center>
            <ion-row>
              <!-- Signup now button -->
              <ion-col col-12 no-padding>
                <p no-margin no-padding>{{data.txtDontHaveAccount}} <a (click)="onEvent('onRegister')">{{data.btnSignupNow}}</a></p>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
