<!--- Theme Parallax - Profile -->
<ion-header header-ios>
  <ion-navbar transparent [ngClass]="{'active':isClassActive()}">
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title *ngIf="data != null">{{data.headerTitle}}</ion-title>
  </ion-navbar>
</ion-header>
<!-- Content -->
<ion-content elastic-header>
  <div padding background-size  box-shadow id="elastic-header" [ngStyle]="{'background-image': 'url(' + headerImage + ')'}">
    <!--- Info Block -->
    <ion-item info-block transparent no-lines>
      <!-- Avatar -->
      <ion-avatar item-start *ngIf="data != null">
        <img [src]="data.avatar" />
      </ion-avatar>
      <!-- Parallx Title -->
      <h2 parallax-title no-margin *ngIf="data != null">{{data.title}}</h2>
      <!-- Parallx Subtitle -->
      <h3 parallax-subtitle *ngIf="data != null">{{data.subtitle}}</h3>
    </ion-item>
  </div>
  <ion-list *ngIf="data != null">
    <ion-item default-item no-lines *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item)">
      <ion-avatar  item-start>
        <img [src]="item.avatar" />
      </ion-avatar>
      <h2 item-title>{{item.title}}</h2>
      <h3 item-subtitle text-wrap>{{item.subtitle}}</h3>
      <button box-shadow text-capitalize button-follow ion-button item-end>{{item.button}}</button>
    </ion-item>
  </ion-list>

  <ion-grid>
      <ion-row>
        <ion-col col-6>
            <ion-item  default-item no-lines *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item)">
                <ion-avatar  text-center>
                  <img style="margin-left: 20%" [src]="item.avatar" />
                  <h2 item-title>Recieve</h2>
                </ion-avatar>
                
              
              
              </ion-item>
        </ion-col>
        <ion-col col-6>
            <ion-item default-item no-lines *ngFor="let item of data.items;let i = index" (click)="onEvent('onItemClick', item)">
                <ion-avatar  text-center>
                  <img style="margin-left: 20%" [src]="item.avatar" />
                  <h2 item-title>Send</h2>
                </ion-avatar>
               
            
              
              </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>


</ion-content>
